@import 'tailwindcss';

@import './fonts.css';
@import './base.css';

@theme {
    --font-sans: 'Golos Text Variable', 'Golos Text Static', sans-serif;

    /* Микромодуль 8px */
    --spacing: 8px;

    /* Отступы кратные 8 */
    --spacing-px: 1px;
    --spacing-0: 0px;
    --spacing-1: 1px;
    --spacing-2: 2px;
    --spacing-4: 4px;
    --spacing-8: 8px;
    --spacing-16: 16px;
    --spacing-24: 24px;
    --spacing-32: 32px;
    --spacing-40: 40px;
    --spacing-48: 48px;

    /* Типографика desktop */
    --text-h1-desk: 48px;
    --text-h1-desk--line-height: 56px;
    --text-h2-desk: 40px;
    --text-h2-desk--line-height: 48px;

    /* Типографика mobile */
    --text-h1-mobile: 32px;
    --text-h1-mobile--line-height: 40px;

    /* Брейкпоинты */
    --breakpoint-phone: 360px;
    --breakpoint-tablet: 768px;
    --breakpoint-laptop: 1366px;
    --breakpoint-wide: 1920px;

    /* Сетка */
    --container-content-wide: 1280px;
    --container-content-laptop: 1238px;
    --container-content-tablet: 704px;

    /* Цвета из макета */
    --color-accent-base: #0088ff;
    --color-accent-contrast: #ffffff;
    --color-accent-light: #00aaff;
    --color-accent-light-50: #00aaff80;
    --color-accent-dark: #0066ff;
    --color-accent-pale: #d1d9e0;

    --color-brand-accent: #0088ff;
    --color-brand-light: #ffffff;

    --color-content-base: #f5f5f5;
    --color-content-light: #ffffff;
    --color-content-dark: #dddddd;
    --color-content-contrast: #222222;

    --color-dark-grey-light: #999999;
    --color-dark-grey-base: #888888;
    --color-dark-grey-dark: #555555;

    --color-darkest-blue: #222233;
    --color-darkest-blue-90: #222233e5;

    --color-gray-light: #ffffff;
    --color-gray-light-50: #ffffff80;
    --color-gray-base: #eeeeee;
    --color-gray-dark: #dddddd;
    --color-gray-contrast: #222233;

    --color-light-blue-base: #d3e7ff;
    --color-light-blue-light: #ebf4ff;
    --color-light-blue-dark: #9ecaff;

    --color-success-base: #33cc00;
    --color-success-contrast: #ffffff;
    --color-success-light: #55ee00;
    --color-success-light-50: #55ee0080;
    --color-success-dark: #11bb00;
    --color-success-pale: #d5e0d1;

    --color-danger-base: #dd0000;
    --color-danger-contrast: #ffffff;
    --color-danger-light: #ff0000;
    --color-danger-light-50: #ff000080;
    --color-danger-dark: #bb0000;
    --color-danger-pale: #dccbcb;
}

